<footer class="content-footer footer bg-footer-theme">
    <div
        class="container-xxl d-flex flex-wrap justify-content-sm-around justify-content-center align-items-center py-3 py-md-4">
        <div class="mb-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            , made with ❤️ by
            <a href="https://t.me/data_professor" target="_blank" class="footer-link fw-bolder">Asliddin</a>
        </div>
        <div>
            <a href="https://t.me/" target="_blank" class="footer-link me-4">Telegram Support</a>
        </div>
    </div>
</footer>