{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="#" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo" height="65px" width="100px">
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">
                KPI
            </span>
        </a>

        <a href="#" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Sahifalar</span>
        </li>


        <li class="menu-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
            <a href="{% url 'dashboard' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-line-chart"></i>

                <div data-i18n="Analytics">
                    Dashboard
                </div>
            </a>

        </li>

        <li class="menu-item {% if request.resolver_match.url_name == 'swod_analysis' %}active{% endif %}">
            <a href="{% url 'swod_analysis' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">SWOD tahlil</div>
            </a>

        </li>
        <li class="menu-item {% if request.resolver_match.url_name == 'tasks_list' %}active{% endif %}">
            <a href="{% url 'tasks_list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">KPI baholash</div>
            </a>

        </li>
        <li class="menu-item {% if request.resolver_match.url_name == 'staff_list' %}active{% endif %}">
            <a href="{% url 'staff_list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">
                    Xodimlar ro'yxati
                </div>
            </a>
        </li>

        <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Yordam</span></li>
        <li class="menu-item {% if request.resolver_match.url_name == 'help' %}active{% endif %}">
            <a href="https://t.me/data_professor" target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">
                    Qo'llab-quvvatlash
                </div>
            </a>
        </li>

    </ul>
</aside>