{% extends 'base/base.html' %}

{% block content %}

<!-- Responsive Table -->
<h4 class="fw-bold"><span class="text-muted fw-light"> <a href="{% url 'subtasks_list' task.id %}">Xodimlar</a> /</span>
    Baholash</h4>

<div class="card" style="height: calc(100vh - 200px);">
    <h5 class="card-header">
        <b>{{task.title}} </b> - {{staff_user.full_name}} baholash
    </h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered table-fit table-fixed">
            <thead>
                <tr class="text-wrap">
                    <th class="th-lg">#</th>
                    <th class="text-wrap">
                        Vazifalar (ball)
                    </th>
                    <th>Baho</th>
                    <th>Sana</th>
                    <th>Izoh</th>
                </tr>
            </thead>

            <tbody>
                {% for subtask in subtasks %}
                <tr class="text-wrap">
                    <td class="th-lg">{{ forloop.counter }}</td>

                    <td>
                        <b>
                            {{ subtask.title }} <small>({{subtask.min_range}} - {{subtask.max_range}})</small>
                        </b>
                    </td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="subtask_id" value="{{ subtask.id }}">

                        <td>

                            <input type="number" step=any class="form-control" name="rate" placeholder="Ball"
                                min="{{subtask.min_range}}" max="{{subtask.max_range}}" required>

                        </td>
                        <td>

                            <input type="date" class="form-control" name="date" placeholder="Sana" required>
                        </td>
                        <td>

                            <textarea class="form-control" name="comment" placeholder="Izoh" required>
                                    </textarea>
                            <button type="submit" class="btn btn-success mt-2">
                                Saqlash
                            </button>
                        </td>
                    </form>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No data</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<!--/ Responsive Table -->


{% endblock %}