{% extends 'base/base.html' %}

{% block content %}
<style>

</style>

<!-- Responsive Table -->
<h4 class="fw-bold"><span class="text-muted fw-light"> <a href="{% url 'subtasks_list' task.id %}">Xodimlar</a> /</span>
    Baholash</h4>

<div class="card" style="height: calc(100vh - 200px);">
    <h5 class="card-header">
        <b>{{task.title}} </b> - {{staff_user.full_name}} baholash
    </h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered table-fit table-fixed">
            <thead>
                <tr class="text-nowrap">
                    <th class="th-lg"># </th>
                    <th class="th-lg" class="text-center">
                        Vazifalar (ball)
                    </th>
                    <th class="text-center">Baholash</th>
                </tr>
            </thead>

            <tbody>
                {% for subtask in subtasks %}
                <tr>
                    <td class="th-lg">{{ forloop.counter }}</td>

                    <td>
                        <b>
                            {{ subtask.title }} <small>({{subtask.min_range}} - {{subtask.max_range}})</small>
                        </b>
                    </td>
                    <td class="text-center">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="subtask_id" value="{{ subtask.id }}">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="number" step=any class="form-control" name="rate" placeholder="Rate"
                                        min="{{subtask.min_range}}" max="{{subtask.max_range}}" required>
                                </div>


                                <div class="col-md-6 mb-3">
                                    <input type="date" class="form-control" name="date" placeholder="Sana" required>
                                </div>

                                <div class="col-md-12 col-lg-12 mb-3">
                                    <textarea class="form-control" name="comment" placeholder="Izoh" required>
                                    </textarea>

                                </div>

                                <div class="col-md-12 mb-3">
                                    <button type="submit" class="btn btn-success">
                                        Saqlash
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No data</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<!--/ Responsive Table -->


{% endblock %}