{% extends 'base/base.html' %}

{% block content %}

<!-- Responsive Table -->
<h4 class="fw-bold"><span class="text-muted fw-light">
        <a href="{% url 'tasks_list' %}">Vazifalar</a> /</span> Xodimlar</h4>

<div class="card" style="height: calc(100vh - 200px);">
    <h5 class="card-header">
        <b>{{task.title}} </b> - baholash uchun xodimlar ro'yxati
    </h5>
    <div class="table-responsive text-nowrap">
        <table id="example" class="table table-bordered">
            <thead>
                <tr class="text-nowrap">
                    <th>#</th>
                    <th>Ismi </th>
                    <th>Berilgan loyiha</th>
                    <th>Lavozim</th>
                    <th>Baholash</th>
                    <th>Telefon raqami</th>
                    <th>Umumiy bahosi</th>
                </tr>
            </thead>
            <tbody>
                {% for staff_user in staff_users %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>

                    <td>
                        {{staff_user.full_name}}
                    </td>
                    <td>
                        {{staff_user.current_project.name}}
                    </td>
                    <td>
                        <a href="{% url 'rate_user_task_assign' task.id staff_user.id %}"
                            class="btn btn-primary">Baholash</a>
                    </td>
                    <td>
                        {{staff_user.get_position_display }}
                    </td>
                    <td>
                        {{staff_user.phone|default:"-"}}
                    </td>
                    <td>
                        {{staff_user.total_rating}}
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--/ Responsive Table -->

{% include 'base/dataTable.html' %}


{% endblock %}