{% extends 'base/base.html' %}
{% load extra_filters %}

{% block content %}
<style>
    .stick-fixed {
        position: sticky;
        left: 0;
        background: white !important;
        z-index: 1;
    }
</style>
<!-- Responsive Table -->
<h4 class="fw-bold">SWOD tahlil</h4>

<div class="card" style="height: calc(100vh - 200px);">
    <h5 class="card-header">
        SWOD Tahliliy ma'lumotlar jadvali
    </h5>
    <div class="table-responsive text-nowrap">
        <!-- left side search and right side from to range date filter -->
        <div class="d-flex justify-content-lg-between p-3">
            <div class="d-flex">
                <!-- for Download Excel file -->
            </div>
            <!-- from to date filter -->

            <form method="get" class="d-flex justify-content-lg-end">
                <input type="date" class="form-control" placeholder="From date" aria-label="From date" name="from_date"
                    value="{{ from_date|default:"" }}" required>
                <input type="date" class="form-control" placeholder="To date" aria-label="To date" name="to_date"
                    value="{{ to_date|default:"" }}" required>
                <button class="btn btn-success" type="submit">Filter</button>
            </form>
        </div>

        <table class="table table-bordered" id="example">

            <thead>
                <tr class="text-nowrap">
                    <th>№</th>
                    <th>FISH</th>
                    {% for task in tasks %}
                    <th>{{ task.title }}</th>
                    {% endfor %}
                    <th>Jarima</th>
                    <th>Bonus ({{total_users_bonus}})</th>
                    <th>Jami ({{users_total}})</th>
                    <th>KPI</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row" class="stick-fixed">{{ forloop.counter }}</th>
                    <td class="stick-fixed" style="left: 40px;">

                        <a
                            href="{% url 'user_task_assigments' user.id 0 %}?from_date={{ from_date }}&to_date={{ to_date }}">
                            {{ user.full_name }} <br>
                            <small>
                                <!-- ( {{user.current_project.name}} <br> -->
                                ({{ user.get_position_display }})

                            </small>
                        </a>
                    </td>

                    {% with user_ratings=ratings|get_item:user.id %}
                    {% for task in tasks %}
                    <td>
                        {% with rating=user_ratings|get_task_rating:task.title %}
                        <!-- url a href link user_id and task_id  -->
                        <a
                            href="{% url 'user_task_assigments' user.id task.id %}?from_date={{ from_date }}&to_date={{ to_date }}">
                            {{ rating|default:"0,00" }}
                        </a>
                        {% endwith %}
                    </td>
                    {% endfor %}
                    {% endwith %}

                    <td>{{ total_penalty|get_item:user.id|default:"0,00" }}</td>
                    <td>
                        {{ users_bonus|get_item:user.id|default:"0,00" }}
                    </td>
                    <td>{{ user_totals|get_item:user.id|default:"0,00" }}</td>
                    <td>{{ users_kpi|get_item:user.id|default:"0,00" }} %</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="text-center">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<!--/ Responsive Table -->
{% include 'base/dataTable.html' %}


{% endblock %}