{% extends 'base/base.html' %}

{% block content %}


<!-- Responsive Table -->
<h4 class="fw-bold"><span class="text-muted fw-light">
        <a href="{% url 'swod_analysis' %}">SWOD</a> /</span> {{user.full_name}}</h4>

<div class="card">
    <div class="d-flex justify-content-lg-between p-3">
        <div class="d-flex">
            <!-- for Download Excel file -->
            <b>{{task.title}} </b> - bo'yicha xodimning ishlari

        </div>
        <!-- from to date filter -->

        <form method="get" class="d-flex justify-content-lg-end">
            <input type="date" class="form-control" placeholder="From date" aria-label="From date" name="from_date"
                value="{{ from_date|default:"" }}" required>
            <input type="date" class="form-control" placeholder="To date" aria-label="To date" name="to_date"
                value="{{ to_date|default:"" }}" required>
            <button class="btn btn-success" type="submit">Filter</button>
        </form>
    </div>

    <div class="table-responsive text-nowrap">
        <table id="example" class="table table-bordered">
            <thead>
                <tr class="text-nowrap">
                    <th>#</th>
                    <th>Vazifa nomi </th>
                    <th>Berilgan ball</th>
                    <th>Izoh</th>
                    <th>Sana</th>
                </tr>
            </thead>
            <tbody>
                {% for task_assignment in task_assignments %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        {{task_assignment.subtask.title}}
                        ({{task_assignment.subtask.min_range}} - {{task_assignment.subtask.max_range}})
                    </td>
                    <td>
                        {{task_assignment.rating}}

                    </td>
                    <td>
                        {{task_assignment.comment}}

                    </td>
                    <td>
                        {{task_assignment.date|date:"d-m-Y"|default:"Mavjud emas"}}
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--/ Responsive Table -->

{% include 'base/dataTable.html' %}

{% endblock %}